name: update

on:
  schedule:
    # NOTE: at 7:50 am every day, JST
    - cron: '50 22 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-data:
    name: update data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: npm
      - run: npm ci
      - run: npm update japanese-public-holidays
      - run: npm run build
      - run: npm run lint
      - run: npm test
      - run: |
          if git diff --exit-code --quiet
          then
            echo 'changed=false' >> "$GITHUB_OUTPUT"
          else
            echo 'changed=true' >> "$GITHUB_OUTPUT"
          fi
        id: diff
      - run: npm version patch --no-git-tag-version
        if: steps.diff.outputs.changed == 'true'
      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          body: ''
          branch: feature/update-japanese-public-holidays
          commit-message: update japanese-public-holidays
          delete-branch: true
          reviewers: sasaplus1
          title: update japanese-public-holidays
        if: steps.diff.outputs.changed
